@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$primary-color: rgb(255, 139, 44);

:root {
  font-size: 20px;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $primary-color;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3 {
  letter-spacing: 0.12rem;
}
